<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</div>
</body>
<style>
footer {
      width:100%; 
  position:absolute; 
  bottom:; 
  left:;
}
</style>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Text -->
    <section class="">
      <p>
        Los datos recolectados en esta página son resguardados de manera temporal, si tiene más dudas por favor contactarse con<br><br>
        <p> Brian valdés: 3017978494</p><br>
        Correo: brian05-21@hotmail.com
      </p>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">BrianValdes.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</html>